<!DOCTYPE HTML>
<html  ng-app>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script src="/js/angular.js" type="text/javascript" ></script>
<script src="/js/controllers.js" type="text/javascript" ></script>
<script src="/js/jquery-1.4.4.min.js" type="text/javascript" ></script>
<link href="/css/manage.css" media="screen" rel="stylesheet" type="text/css" />
<br><br><br><br>
JFinal小例子
</head>
<body>
<div>
<br><br>
我在群里和网上找JFINAL+angularjs的例子找不到，最后只好自己写了一个。也算是给JFINAL做贡献吧。
数据库用mysql,服务器端我在item.java类中用	renderJson()方法将JSON数据送到了item.html中。
在item.html中用angularjs接收，生成了一个table和一个list。
table中的第一列和第二列的数据是可以更改的。同时第三列数据和list中的数据会变化。
我在找一个客户端操作jsona的工具，有知道 的吗？这样用js增删改查json就方便了，可以迅速通过NG实现CRUD。
大家如果知道请发我mail或qq:         heyuheng888@163.com/1910984708<br><br>json数据格式如下：<br>{"items":
[{"id":1,"des":"item for hyh","title":"A001"},
{"id":2,"des":"item for dl","title":"A002"},
{"id":3,"des":"item for Agl","title":"A003"},
{"id":5,"des":"item for sbd","title":"A004"}]

&nbsp;&nbsp;<a href="/item/delete/{{item.id}}">删除</a>
}
</div>
<br><br>

<div  ng-controller="ShoppingController0">
<input type="text"  ng-model="myStr" style="width:900px"/>
<br><br>
以下是示例：
<br>第一个是list.
<br>
<ul>
    <li ng-repeat="item in items">
        {{item.id}}
      {{item.title}}
    {{item.des}}<p></p>
    </li>
  </ul>
  <br><br>
  第二个是table，前两列可编辑.
  <br><br>
	<table class="list" width =100%>
		<tbody>
			<tr>
				<th>序号</th>
				<th>id</th>
				<th>代码</th>
				<th>名称</th>
				<th>代码+名称</th>
				<th>操作</th>
			</tr>
			
			<tr ng-repeat="item in items">
				<td>{{$index + 1}}</td>
				<td>{{item.id}}</td>
				<td><input type="text" ng-model="item.title" style="width:100px" /></td>
				<td><input type="text" ng-model="item.des"  style="width:150px" /></td>
				<td>{{item.title+"-"+ item.des}}</td>
				<td>
				<button type="button" >删除</button>
					
				</td>
			</tr>
		</tbody>
	</table>
</div>
</body>
</html>