<!DOCTYPE HTML>
<html>
<head>
<meta http-equiv="content-type" content="text/html; charset=UTF-8" />
<script src="/js/angular.js" type="text/javascript" ></script>
<script src="/js/jquery-1.4.4.min.js" type="text/javascript" ></script>
<script src="/js/controllers.js" type="text/javascript" ></script>

<link href="/css/manage.css" media="screen" rel="stylesheet" type="text/css" />
<br><br><br><br>
JFinal+angularjs Example
</head>
<body ng-app="myApp">
<div>
<br><br>


<div  ng-controller="ShoppingController">
<br><br>
Two examples：
<br>The first example is a list.
<br>
<input type="text" id="hyh" style="width:90%;"  />
<ul>
    <li ng-repeat="item in items">
        {{item.id}}
      {{item.title}}
    {{item.des}}
     {{item.myStatus}}
    <p></p>
    </li>
  </ul>
  <table class="list" width =100% onkeydown="if (window.event.keyCode==13){ window.event.keyCode=9;}">
		<tbody>
			<tr>
				<th width="36">SN</th>
				<th>id</th>
				<th width="80">ItemCode</th>
				<th>Description</th>
				<th  width="180">ItemCode+Description</th>
				<th><input id="delAll" type="checkbox">Delete</th>
			</tr>
			
			<tr ng-repeat="item in items">
				<td>{{$index + 1}}</td>
				<td>{{item.id}}</td>
				<td><input type="text" ng-model="item.title" style="width:90%;" ng-blur="judLast($index,$last)" ng-change="judChange($index,this)"/></td>
				<td><input type="text" ng-model="item.des"  style="width:98%;"  ng-change="judChange($index,this)" /></td>
				<td>{{item.title+"-"+ item.des}}</td>
				<td><input id="del-{{$index}}" status="{{item.myStatus}}" ng-click="changeStatus($index,item.id)" type="checkbox">
<button type="button"  ng-click="delRecord($index,item.id)" style="width: 51px; ">Delete</button>
				</td>
			</tr>
		</tbody>
	</table>
	<button id="hyhButton" type="button" ng-click="saveRecord($event,this)" >Save</button>
</div>
</body>
</html>